.searchForm {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

button {
  height: 35px;
  width: 60px;
  border-radius: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .searchForm {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  input {
    width: 200px;
    margin: 5px;
  }
  button {
    width: 70px;
  }
  button:hover {
    border: 1px solid black;
  }
}
