.searchForm {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

button {
  height: 35px;
  width: 60px;
  border-radius: 10px;
  opacity: 0.8;
}
