.forecast-summaries {
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /*  background-color: azure; */
  position: fixed;
  top: 10%;
  /* opacity: 0.9; */
  flex-wrap: wrap;
}

.weatherCards {
  width: 100px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin: 5px;
}

.temperature:after {
  content: '°';
}

p {
  font-size: 16px;
  font-weight: 300;
}
